@{
    ViewBag.Title = "Home Page";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/scientists-working-lab-homepage.jpg" class="d-block w-100" height="400" width="100%" alt="First slide" />
        </div>
    </div>
</div>
<br />
<br />


<div class="row">
    <div class="col-md-4">
        <div class="card-deck">
            <div class="card m-3" style="min-width:15rem; max-width:25%;">
                <div class="card-img">
                    <img src="~/Content/male-scientist-lab-about-hero.jpg" />
                </div>
                <div class="card_content">
                    <h3 style="width:200px">About Novartis</h3>
                    <p class="basic_paragraph" style=" width:400px">We discover and develop breakthrough treatments and find new ways to deliver them to as many people as possible.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-deck">
            <div class="card m-3" style="min-width:15rem; max-width:25%;">
                <div class="card-img">
                    <img src="~/Content/pharmacist-in-his-drugstore-ghana.jpg" />
                </div>
                <div class="card_content">
                    <h3 style="width:200px">Access</h3>
                    <p class="basic_paragraph" style=" width:400px">We are committed to bringing more of our medicines to more people, no matter where they are.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-deck">
            <div class="card m-3" style="min-width:15rem; max-width:25%;">
                <div class="card-img">
                    <img src="~/Content/colleagues-in-office-people-and-culture.jpg" />
                </div>
                <div class="card_content">
                    <h3 style="width:200px">People and Culture</h3>
                    <p class="basic_paragraph" style=" width:400px">Novartis is building an Inspired, Curious and Unbossed culture.</p>
                </div>

            </div>
        </div>
    </div>
</div>